{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
       
    <div class="row">
        {% for inst in category %}
            <div class="card mb-3 pb-5 object-fit-contain fluid" style="width: 25rem; height: 16rem;">
                {% if inst.product_image %}
                <img class="w-100 h-100 card-img-top" src="{{ inst.product_image.url }}"  alt="{{inst.product_name}}">
                {% endif %}
                
                <div class="card-body d-flex align-items-center">
                    <strong class="card-title">{{ inst.product_name }}</strong>
                    
                    <strong class="card-text ml-auto p-2">{{ inst.price_bid }}</strong>
                </div>
            </div>
    </div>
    {% empty %}
    <h3>No listing with category '{{ category_name }}' found</h3>

    {% endfor %}
{% endblock %}