{% extends "auctions/layout.html" %}

{% block body %}

<div class="row g-4 mt-5 p-5">
    {% for category_item in category_items %}

    <div class="row-cols-1 row-cols-md-3 g-4 p-5">
        <div class="col card">
            {% if category_item.image %}
            <img src="{{ category_item.image.url }}" class="card-img-top" alt="{{category_item.title}}">
            {% endif %}
            <div class="card-body">
                <h3 class="card-title">{{category_item.title}}</h3>
                <p class="card-text">{{category_item.description}}</p>
            </div>
            <div class="mb-2 d-flex justify-content-around">
                <h3>{% if category_item %}{{ category_item.current_bid }}{% else %} {{ category_item.starting_bid }} {% endif %}</h3>
                <a href="{% url 'listing_detail' id=category_item.id %}"><button class="btn btn-primary mt-3" type="button">View</button></a>
            </div>
        </div>
    </div>
    {% empty %}
    <h3>No listing found</h3>

    {% endfor %}
        
</div>

{% endblock %}