{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Login</h2>

    


    <div class="container-fluid">
        <form action="{% url 'login' %}" method="post" id="form" class="mx-auto">
            {% csrf_token %}
            <h4 class="text-center">Login</h4>
            <div class="mb-3 mt-5">
              <p for="exampleInputUsername1" class="form-label">Username</p>
              <input type="text" class="form-control"  name="username" id="exampleInputUsername1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <p class="form-label">Password</p>
              <input type="password" class="form-control" name="password" id="exampleInputPassword1">
            </div>
          
            <button id="custom-button" type="submit" class="btn mt-5">Login</button>
            <p class="text-danger">{{ message }}</p>
            <p>Don't have an account? <a href="{% url 'register' %}">Register here.</a></p>
          </form>
          
    </div>
{% endblock %}