{% extends "auctions/layout.html" %}

{% block body %}


  <div class="container-fluid">
    <form action="{% url 'register' %}" method="post" id="form" class="mx-auto">
        {% csrf_token %}
        <h4 class="text-center">Register</h4>
        <div class="mb-3 mt-5">
          <p for="exampleInputUsername1" class="form-label">Username</p>
          <input type="text" class="form-control"  name="username" id="exampleInputUsername1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <p for="exampleInputemail1" class="form-label">Email address</p>
          <input type="email" class="form-control" name="email" id="exampleInputemail1">
        </div>
        <div class="mb-3">
            <p for="exampleInputPassword1" class="form-label">Password</p>
            <input type="password" class="form-control" name="password" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <p for="exampleInputconfirmation1" class="form-label">Confirm password</p>
            <input type="password" class="form-control" name="confirmation" id="exampleInputconfirmation1">
        </div>
      
        <button id="custom-button" type="submit" class="btn mt-5">Register</button>
        <p class="text-danger">{{ message }}</p>
        <p>Already have an account? <a href="{% url 'login' %}">Log In here.</a></p>
    </form>
          
  </div>

{% endblock %}